<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actix App | Index</title>
</head>
<body>
    <h1>{{ firstname }} {{ lastname }}</h1>
</body>
</html>